@import url('../../../tools/reveal/lib/font/lobster/lobster.css');

:root {
  --num-rays: 11;
  --color-1: white;
  --color-2: maroon;
  --fade: .6;
}


/* ------------------------------------------------------------------------- */
/* ANIMATIONS
/* ------------------------------------------------------------------------- */

@keyframes turnLeftFromStart {
  from { transform: rotateY(0deg) }
  50% { transform: rotateY(90deg) }

  /*
    Nécessaire si vous voulez que
    animation-fill-mode:forwards
    soit correctement appliqué.
  */
  to { transform: rotateY(90deg) }
}

@keyframes turnLeftFromEnd {
  50% { transform: rotateY(-90deg); }
  to { transform: rotateY(0deg);}
}

@keyframes heartBump {
  20% { transform: scale(0.6); }
  35% { transform: scale(0.7); }
  50% { transform: scale(0.7); }
  65% { transform: scale(0.6); }
}

/*
  C'est un jolie effet, mais malheureusement, Chrome ne
  sait pas animer les filtres. Si vous voulez être
  compatible multinavigateur, il faudra utiliser JavaScript.
*/
@keyframes desaturate {
  from { filter: saturate(100%) }
  to   { filter: saturate(0%) }
}


/* ------------------------------------------------------------------------- */
/* RAYONS LUMINEUX D'ARRIERE PLAN
/* ------------------------------------------------------------------------- */

#greyScale stop { stop-color: white; }
#greyScale stop:nth-of-type(2) { stop-opacity: calc(1 - var(--fade, .8)); }

#ray {
  mask: url(#triangle);
}

#triangle .right {
  transform-origin: 50% 50%;
  transform: rotate(calc(var(--opening)));
}

#rays {
  --opening: calc(180deg / var(--num-rays, 1));
  mask: url(#fade);
  opacity: 0;
}

#rays use {
  --rotation: calc(2 * (var(--position, 1) - 1) * var(--opening) - var(--opening) / 2) ;

  fill: var(--color-1);

  transform-origin: 50% 50%;
  transform: rotate(var(--rotation));
}

#rays > rect {
  fill: var(--color-2, black);
}

#rays use:nth-of-type(1) { --position: 1; }
#rays use:nth-of-type(2) { --position: 2; }
#rays use:nth-of-type(3) { --position: 3; }
#rays use:nth-of-type(4) { --position: 4; }
#rays use:nth-of-type(5) { --position: 5; }
#rays use:nth-of-type(6) { --position: 6; }
#rays use:nth-of-type(7) { --position: 7; }
#rays use:nth-of-type(8) { --position: 8; }
#rays use:nth-of-type(9) { --position: 9; }
#rays use:nth-of-type(10) { --position: 10; }
#rays use:nth-of-type(11) { --position: 11; }
#rays use:nth-of-type(12) { --position: 12; }
#rays use:nth-of-type(13) { --position: 13; }
#rays use:nth-of-type(14) { --position: 14; }
#rays use:nth-of-type(15) { --position: 15; }

/* MODIFICATEURS D'ETAT ----------------------------------------------------- */
svg.done:not(.cloudy) #rays {
  opacity: 1;
  transition: opacity 2400ms ease;
}

svg.sunny #rays {
  --num-rays: 12;
  --color-1: white;
  --color-2: #fe9;
  --fade: .8;
}

svg.mitigated #rays {
  --num-rays: 12;
  --color-1: lightgrey;
  --color-2: gold;
  --fade: .7;
}

svg.rainy  #rays{
  --num-rays: 10;
  --color-1: rgb(63, 58, 58);
  --color-2: rgb(84, 87, 109);
  --fade: 0.33;
}

svg.stormy #rays{
  --num-rays: 9;
  --color-1: rgb(43, 43, 43);
  --color-2: rgb(88, 88, 88);
  --fade: 0.33;
}


/* ------------------------------------------------------------------------- */
/* CERCLES D'ARRIERE PLAN
/* ------------------------------------------------------------------------- */

#board { cursor: pointer; }
#board use { transform-origin: 50px 50px; }
#board use:nth-of-type(1) { transform: rotateY(0deg); }
#board use:nth-of-type(2) { transform: rotateY(-90deg); }

/* MODIFICATEURS D'ETAT ----------------------------------------------------- */
svg.idle #board use:nth-of-type(1) { animation: turnLeftFromEnd 600ms ease-out forwards; }
svg.idle #board use:nth-of-type(2) { animation: turnLeftFromStart 600ms ease-in forwards; }

svg.run #board use:nth-of-type(1) { animation: turnLeftFromStart 600ms ease-out forwards; }
svg.run #board use:nth-of-type(2) { animation: turnLeftFromEnd 600ms ease-in forwards; }
svg.run #board { cursor: initial; }

svg.done #board { cursor: pointer; }

svg.sunny #board { mix-blend-mode: soft-light; }
svg.stormy #board {
  mix-blend-mode: hard-light;
  animation: desaturate 1s linear 400ms forwards;
}


/* ------------------------------------------------------------------------- */
/* TEXTE ET CERCLE D'ARRIERE PLAN
/* ------------------------------------------------------------------------- */

.season circle {
  fill: url(#darkBackground);
  stroke: maroon;
  stroke-width: 7px;
}

.season text {
  font: 20px "Lobster", fantasy;
  text-anchor: middle;

  transform-origin: 50px 50px;
  transform: skew(10deg,-20deg);

  fill: url(#shinny);
  filter: url(#darkGlow);
}

#subTitle.season text {
  font-size: 10px;
  transform: none;
  text-anchor: start;
}


/* ------------------------------------------------------------------------- */
/* BOUTONS D'INTERACTION
/* ------------------------------------------------------------------------- */

.button {
  cursor: pointer;

  transition-property: opacity;
  transition-duration: 400ms;
  transition-timing-function: ease-in;

  pointer-events: none;
  opacity: 0;
}

.button.b1 { transform: translate(40px,80px) }
.button.b2 { transform: translate(55px,77px) }
.button.b3 { transform: translate(68px,68px) }
.button.b4 { transform: translate(77px,55px) }
.button.b5 { transform: translate(80px,40px) }

.button circle {
  fill: white;
  stroke: maroon;
  stroke-width: 1px;
}

.button text {
  font: bold 7px Impact, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

.button image { display:none }

/* MODIFICATEURS D'ETAT ----------------------------------------------------- */
svg.idle .button.b1,
svg.idle .button.b2,
svg.idle .button.b3,
svg.idle .button.b4,
svg.idle .button.b5 { transition-delay: 0ms; }

svg.run:not(.done) .button:hover text {
  fill: url(#shinny);
  filter: url(#darkGlow);
}

svg.run .button {
  pointer-events: all;
  opacity: 1;
}

svg.run .button.b1 { transition-delay: 1200ms; }
svg.run .button.b2 { transition-delay: 1050ms; }
svg.run .button.b3 { transition-delay: 900ms; }
svg.run .button.b4 { transition-delay: 750ms; }
svg.run .button.b5 { transition-delay: 600ms; }

svg.done .button { cursor: initial; }

svg.b1 .button.b1 text,
svg.b2 .button.b2 text,
svg.b3 .button.b3 text,
svg.b4 .button.b4 text,
svg.b5 .button.b5 text { display: none; }

svg.b1 .button.b1 image,
svg.b2 .button.b2 image,
svg.b3 .button.b3 image,
svg.b4 .button.b4 image,
svg.b5 .button.b5 image { display: block }

svg.stormy .button { animation: desaturate 1s linear 400ms forwards; }


/* ------------------------------------------------------------------------- */
/* COEUR EN AVANT PLAN
/* ------------------------------------------------------------------------- */

#heart {
  fill: red;

  stroke: red;
  stroke-linejoin: round;
  stroke-width: 4.7px;

  transform: scale(0);
  transform-origin: 50px 50px;
  transition-property: transform;
  transition-duration: 400ms;

  pointer-events: none;
}

#left {
  clip-path: url(#breakLeft);

  transform-origin: 50px 90px;
  transform: rotate(0.5deg); /* -3deg */
}

#right {
  clip-path: url(#breakRight);

  transform-origin: 50px 90px;
  transform: rotate(-0.5deg); /* 4deg */
}

/* MODIFICATEURS D'ETAT ----------------------------------------------------- */
svg.run #heart {
  transform: scale(0.6);
  transition-delay: 600ms;
}

svg.done #heart { animation: heartBump 1s linear 0s 2; }

svg.rainy #heart {
  fill: #993333;
  stroke: #993333;
}

svg.stormy #heart {
  fill: maroon;
  stroke: maroon;
}

svg.stormy #left {
  transform: rotate(-3deg);
  transition: transform 450ms ease 1.7s;
}

svg.stormy #right {
  transform: rotate(4deg);
  transition: transform 450ms ease 1.7s;
}
