#heart {
  fill: maroon;

  stroke: maroon;
  stroke-linejoin: round;
  stroke-width: 5px;

  /* On peut aussi remplacer l'attribut transform par : */
  /* transform-origin: 50px 80px; */
  /* transform: rotate(-45deg); */
}
