#heart {
  fill: maroon;

  stroke: maroon;
  stroke-linejoin: round;
  stroke-width: 4.7px;
}

#left {
  clip-path: url(#breakLeft);

  transform-origin: 50px 90px;
  transform: rotate(-3deg);
}

#right {
  clip-path: url(#breakRight);

  transform-origin: 50px 90px;
  transform: rotate(4deg);
}

/*
  Il suffit juste d'appliquer une inversion de coordonnées
  horizontal ET vertical sur la forme de découpe.
  Attention au point de transformation, il doit être placé
  à la moitier de la hauteur de la forme et à sa droite.
  Dans ce cas précis, ça correspond au centre de la viewBox.
*/
#breakRight use {
  transform-origin: 50px 50px;
  transform: scale(-1); /* Racourcis pour scale(-1, -1) */
}
