@import url(../../../tools/reveal/lib/font/lobster/lobster.css);

/*
  Les règles suivantes illustrent comment il est possible de
  paramétrer les couleurs des dégradés et filtres SVG depuis CSS.
 */
#innerShadow stop:nth-child(1) { stop-color: transparent; }
#innerShadow stop:nth-child(2) { stop-color: black; }

#shinny stop:nth-child(1) { stop-color: gold; }
#shinny stop:nth-child(2) { stop-color: white; }
#shinny stop:nth-child(3) { stop-color: gold; }

#darkGlow feDropShadow:nth-child(1) { flood-color: red; }
#darkGlow feDropShadow:nth-child(2) { flood-color: maroon; }
#darkGlow feDropShadow:nth-child(3) { flood-color: black; }

/* ------------------------------------------------------------- */

#heartPattern rect { fill: #333; }
#heartPattern path { opacity: 0.3; }

#season {
  font: 20px "Lobster", fantasy;
  text-anchor: middle;

  transform: skew(10deg,-20deg);
  transform-origin: 50px 50px;

  fill: url(#shinny);
  filter: url(#darkGlow);
}

/*
  Le cercle en avant-plan est remplis avec un dégradé transparent
  au centre, c'est lui qui porte l'effet "d'ombre interne".
 */
#circle .fg {
  fill: url(#innerShadow);
  stroke: maroon;
  stroke-width: 7px;
}

/*
  Le cercle d'arrière-plan est simplement remplis avec notre motif
  de cœur. Il sera visible à travers le cercle d'avant-plan.
 */
#circle .bg {
  fill: url(#heartPattern);
}
