@import url('../../../tools/reveal/lib/font/lobster/lobster.css');

@keyframes inflate {
  from { cx: 10px; cy: 10px; r: 0; opacity:0; }
  50%  { cx: 80px; cy: 80px; }
  80%  { r:  45px; }
  to   { cx: 50px; cy: 50px; r: 40px; opacity:1;  }
}

.inflate {
  animation: inflate 500ms forwards;
}

@keyframes reveal {
  from { opacity: 0 }
  to   { opacity: 1 }
}

.reveal {
  animation: reveal 400ms forwards;
}

#season {
  font: 10px "Lobster", fantasy;
  opacity: 0;

  fill: url(#shinny);
  filter: url(#darkGlow);
}

circle {
  fill: url(#darkBackground);
  stroke: maroon;
  stroke-width: 7px;
}
